{% extends "base.html" %}
{% block title %}
    <title>Create category</title>
{% endblock %}
{% block page_header %}
    {% include "inc-header.html" %}
{% endblock %}
{% block page_content %}
    <div id="site_content">
        {% include "inc-sidebar.html" %}
        <div id="content">
            <!-- insert the page content here -->
            <h1>Создание категории</h1>
            <form method="post">
                <input type="text" name="name" placeholder="Название категории">
                <button type="submit">Сохранить и вернуться на главную</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    {% include "inc-footer.html" %}
{% endblock %}
