{% extends "base.html" %}
{% block title %}
    <title>Main page</title>
{% endblock %}
{% block page_header %}
    {% include "inc-header.html" %}
{% endblock %}
{% block page_content %}
    <div id="site_content">
        {% include "inc-sidebar.html" %}
        <div id="content">
            <h1>Welcome to the podcasts list</h1>
            <h3>Это главная страница, подкасты по категориям и темам во вкладке "Podcasts"</h3>
            <a href="/create_listener/"><h2>Создать слушателя</h2></a>
            <a href="/listeners_list/"><h2>Список слушателей</h2></a>
            <a href="/add_listener/"><h2>Добавить пользователя в подкаст</h2></a>
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    {% include "inc-footer.html" %}
{% endblock %}
